body {
    padding: 0px;
}

#header {
    padding: 20px;
    background: #ccc;
}

#header h1 {
    margin: 0;
}

#container {
    background: #fff;
}

#navigation {
    background: #333;
}

#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation ul li {
    list-style-type: none;
}

#navigation li a {
    display: block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

#navigation li a:hover {
    background: #383;
}

#content {
    clear: left;
    float: left;
    display: inline;
}

#aside {
    display: inline;
}

#content-container {
    width: 100%;
    background: #FFF;
}

#content h2 {
    margin: 0;
}

#aside h3 {
    margin: 0;
}

#footer {
    clear: left;
    background: #ccc;
    padding: 20px;
    height: 1%;
}
